
*.class
*.log

*.ctxt

.mtj.tmp/
*.properties

*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar
*.iml
*.zip

.idea
.allure/
.gradle/
allure-results/
gradle/
build/
bin/
out/
logs/
target/
.classpath
.project
.settings/org.eclipse.buildship.core.prefs
.vscode
/gradlew
/gradlew.bat